body{
background: url("Untitled-2.jpg");
background-attachment: fixed;
background-size: cover;
text-align: center;
}

h1{
text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fform{
  margin-bottom: 333px;
  margin-left: auto;
  margin-right: auto;
  background: url("130917_adapted_1080x2160.jpg");
  background-size: cover;
  height: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
  text-align: center;
border: 0px solid rgb(235, 232, 232);
box-shadow:0px 0px 3px 0px rgb(27, 116, 175);
border-radius: 10px;
height: 305px;
width: 444px;

}

.fform form{
  color: white;
}

.fform h2{

text-align: center;;
font-family: ;

}

.fform form .username input {
  background: url("130917_adapted_1080x2160.jpg");
  width: 200px;
  height: 25px;

  border-radius: 7px;
  box-shadow:0px 1px 5px 0px rgb(27, 116, 175);
}

.fform form .password input {
  background: url("130917_adapted_1080x2160.jpg");
  width: 200px;
  height: 25px;

  border-radius: 7px;
  box-shadow:0px 1px 5px 0px rgb(27, 116, 175);
}


.fform form .checkbox{
   border-radius: 50px;
   color: rgb(255, 255, 255);
 }

.fform form .checkbox:hover{
  border-radius: 50px;
  color: rgb(66, 58, 58);
}

.lbn button{
  font-size: 16px;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
color: rgb(27, 116, 175);
}
.lbn button:hover{
  color: #ddd;
  background-color: rgb(27, 116, 175);
}


.forgottentext{
  font-size: 12;
color: rgb(255, 255, 255);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forgottentext:hover{

  color: rgb(66, 58, 58);

}

/* Add a black background color to the top navigation */

.topnav {
  border-radius: 9px;
    background: url("Untitled-1.jpg");
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(26, 22, 87);
    color: white;
  }
